html,
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    padding: 0 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
  background-color: rgba(218,233,246,1);
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  text-align: right;
}

footer ul li {
  padding: 3px 0;
}

footer .logos div {
  padding: 5px 0;
}

.logo,
.menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo img {
    height: 36px;
}

.menu > img {
    height: 20px;
    width: 20px;
}

.headerIndex img {
    width: 100%;
}

.firstLevel {
    width: 100%;
    position: absolute;
    top: 50px;
    right: 0;
}

.firstLevel,
.secondLevel,
.thirdLevel {
    display: none;
    background-color: white;
}

.firstLevel li {
    font-size: 1.6rem;
    padding: 9px 34px;
}

.title div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.personnal img{
  width: 40px;
  margin: 0 10px;
}

.personnal {
  display: none;
}

.socialNetworks {
  border-radius: 50%;
}

.jumbotron {
  height: 120px;
  background-image: url('../images/cover_image_index.jpeg');
  background-size: cover;
  background-position: 50% 50%;
}

.mainTitleContainer {
  display: flex;
  font-size: 1.8rem;
  padding: 20px 0;
}

.mainTitle {
  display: inline-block;
  margin: auto;
  line-height: 1rem;
  font-weight: bold;
  font-style: italic;
}

.line {
  width: 50%;
  background-color: rgba(61,160,105,1);
  height: 4px;
  border-radius: 5px;
}

.container {
  padding: 0 10%;
}

.citation {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}

.team {
  padding: 25px 0;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.person img {
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.person {
  display: flex;
  align-items: center;
}

.team .line {
  margin-top: 50px;
  width: 4px;
  height: 100px;
}

.medias {
  background-color: rgba(43,61,77,1);
  color: white;
}

.newspaper {
  display:flex;
  padding: 20px 0;
}

.newspaper img {
  width: 125px;
  height: 145px;
  margin-right: 20px;
}

.newspaper .title {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.application {
  text-align: center;
}

.apps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.apps img {
  height: 30px;
}

.application p {
  margin: 15px 0;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  footer {
    display: block;
  }

  footer ul {
    display: flex;
    justify-content: space-around;
  }

  .logos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
  }

  .apps img {
    height: 60px;
  }

  .newspaper img {
    width: 250px;
    height: 290px;
  }

  .person img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 1000px) {
    nav {
        height: 100px;
    }

    footer {
      display: block;
      font-size: 1.4rem;
    }
  
    footer ul {
      display: flex;
      justify-content: space-around;
    }

    .personnal {
      display: flex;
    }
    
    .jumbotron {
      height: 504px;
      background-image: url('../images/cover_image_index.jpeg');
    }
  
    .logos {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
    }

    .logo img {
        height: 70px;
    }

    .responsive {
        display: none;
    }

    .menu {
        width: 60%;
        position: relative;
        text-align: center;
    }
    
    .desktop {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-content;
        align-items: center;
    }

    .firstLevel {
        position: initial;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
    }
    
    .firstLevel li {
        padding: 0 10px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .firstLevel li:hover {
        background-color: rgba(98, 211, 164, 1);
    }

    .secondLevel li a,
    .thirdLevel li a {
        padding: 10px 15px;
    }

    #menuSecondLevel {
        position: relative;
    }

    .secondLevel {
        position: absolute;
        top: 100px;
        left: 0;
    }

    #menuThirdLevel {
        position: relative;
    }

    .thirdLevel {
        position: absolute;
        top: 100px;
        left: 0;
    }

    #menuSecondLevel:hover .secondLevel {
        display: block;
    }

    #menuThirdLevel:hover .thirdLevel {
        display: block;
    }

    .apps img {
      height: 60px;
    }

    .newspaper img {
      width: 250px;
      height: 290px;
    }

    .person img {
      width: 100px;
      height: 100px;
    }
}