h1 {
  font-size: 1.7rem;
}

button {
  margin: 0 0 10% 3%;
  background: #3DA069;
  color: #ffffff;
  width: 100%;
  height: 42px;
  border-radius: 5px;
  border-style: none;
}

.user_theme {
  background-image: url('../images/account.jpg');
}

.name,
.email,
.password {
  color: #3588CC;
  padding: 0 8%;
  font-size: 1.4rem;
}

.agreement_container {
  display: flex;
  align-items: flex-start;
  margin: 10% 10% 10% 0;
}

.user_data {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.user_data:first-child {
  margin-top: 5%;
}

#checkbox {
  margin-right: 5%;  
}

#name,
#email,
#password {
  color: #3588CC;
  font-weight: bold;
  background: #C4C4C4;
  border-radius: 5px;
  border-style: none;
  height: 28px;
  width: 100%;
}

@media screen and (min-width:375px) and (max-width: 768px) {

  input {
    margin: 0 3%;
  }
   
  button {
    margin: 0 0 10% 20%;
    width:60%;
  }

  .name,
  .email,
  .password {
    padding: 0 3%;
  }
}

@media screen and (min-width: 768px) and (max-width: 850px) {

  button {
    margin: 0 0 10% 10%;
    width: 80%;
  }

 .agreement_container {
    margin: 5% 10% 5% 8%;
  }

  .user_data {
    margin: 0 0 2% 8%;
    width: 80%;
  }
}

@media screen and (min-width: 850px) and (max-width: 1200px) {

  button {
    margin: 0 0 10% 15%;
    width: 60%;
  }

  .user_data:first-child {
    margin-top: 4%;
  }

 .agreement_container {
    margin: 5% 10% 5% 15%;
    width: 60%;
  }

  .user_data {
    margin: 0 0 2% 15%;
    width: 60%;
  }

  #checkbox {
    margin-right: 2%;  
  }
}

@media screen and (min-width: 1200px) {

  form {
    width: 80%;
  } 

  button {
    margin: 0 0 5% 30%;
    width: 60%;
  }
  
  .user_data:first-child {
    margin-top: 3%;
  }

 .agreement_container {
    margin: 4% 10% 4% 30%;
    width: 60%;
  }

  .user_data {
    margin: 0 0 2% 30%;
    width: 60%;
  } 

  #checkbox {
    margin-right: 1%;  
  }
}