html,
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    padding: 0 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
  background-color: rgba(218,233,246,1);
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  text-align: right;
}

footer ul li {
  padding: 3px 0;
}

footer .logos div {
  padding: 5px 0;
}

.logo,
.menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo img {
    height: 36px;
    padding-right: 30px;
}

.menu > img {
    height: 20px;
    width: 20px;
}

.headerIndex img {
    width: 100%;
}

.firstLevel {
    width: 100%;
    position: absolute;
    top: 50px;
    right: 0;
}

.firstLevel,
.secondLevel,
.thirdLevel {
    display: none;
    background-color: white;
}

.firstLevel li {
    font-size: 1.6rem;
    padding: 9px 34px;
}

.titleDecoration{
  width: 100%;
  height: 102px;
  background-image: url(images/20200213_150254.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 2.4rem;
}

.titleDecoration .title{
    text-align: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    height: 102px;

}

.titleDecoration .bar{
    width: 90%;
    height: 4px;
    background-color: #06D6A0;
    margin-left: 5%;
}

.title div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.personnal img{
  width: 40px;
  margin: 0 10px;
}

.personnal {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  footer {
    display: block;
  }

  .logos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

  footer ul {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1000px) {
    nav {
        height: 100px;
    }

    footer {
      display: block;
      font-size: 1.4rem;
    }

    .personnal {
      display: flex;
    }
  
    .logos {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
    }
  
    footer ul {
      display: flex;
      justify-content: space-around;
    }

    .logo img {
        height: 70px;
    }

    .responsive {
        display: none;
    }

    .menu {
        width: 60%;
        position: relative;
        text-align: center;
    }
    
    .desktop {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-content;
        align-items: center;
    }

    .firstLevel {
        position: initial;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
    }
    
    .firstLevel li {
        padding: 0 10px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .firstLevel li:hover {
        background-color: rgba(98, 211, 164, 1);
    }

    .secondLevel li a,
    .thirdLevel li a {
        padding: 10px 15px;
    }

    #menuSecondLevel {
        position: relative;
    }

    .secondLevel {
        position: absolute;
        top: 100px;
        left: 0;
    }

    #menuThirdLevel {
        position: relative;
    }

    .thirdLevel {
        width: 100%;
        position: absolute;
        top: 100px;
        left: 0;
    }

    #menuSecondLevel:hover .secondLevel {
        display: block;
    }

    #menuThirdLevel:hover .thirdLevel {
        display: block;
    }
}