input {
  border: none;
}
.jumbotron{
    background-image: url('../images/legal.jpg');
}
.importantText{
    color: #3DA069;
}
.textUser{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textUser > div {
  width: 300px;
  margin: 2rem 0;
}
.textUser p {
  text-align: left;
}
.searchBar{
    width: 300px;
    min-height: 30px;
    border-radius: 5px;
    background-color: #ABB3B9;
}
.lastSearchBar {
  min-height: 100px;
}
.button{
    background-color: #3DA069;
    color: white;
    border-radius: 5%;
    padding: 5px 20px;
}
.importantText {
  font-weight: bold;
  font-size: 1.8rem;
}
.container {
  text-align: center;
  margin: 2rem 0;
}
.contactMethods > div {
  margin: 2rem 0;
}